.back {
  background-image: url(/images/d3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}

.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.7rem;
  font-weight: bold;
  color: #d9534f;
}

.nav-link {
  font-size: 1rem;
  color: #d9534f;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e89d9a;
}

.btn-primary {
  background-color:#c9302c;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #d9534f;
}

.btn-secondary {
  background-color: #c9302c;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #e3706c;
}

footer {
  background-color: #c9302c;
  color: #fff;
  padding: 20px 0;
  margin-top: 40px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer p a {
  color: #d9534f;
  text-decoration: none;
  transition: color 0.3s;
}

footer p a:hover {
  color: #c9302c;
}


header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.head1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #c9302c;
}

.head2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.item {
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }
}